@model CreateProductVM

<div class="d-flex flex-column align-items-center border w-50 m-auto p-2">
	<h1>Creating a product</h1>
	<div class="w-100 p-3">
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label for="name">Name</label>
				<input asp-for="Product.Name" type="text" class="form-control" placeholder="Enter name">
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<input asp-for="Product.Description" type="text" class="form-control" placeholder="Enter description">
			</div>
			<div class="form-group">
				<label for="price">Price</label>
				<input asp-for="Product.Price" type="number" class="form-control" placeholder="Enter price">
			</div>
			<div class="form-group">
				<label for="amount">Amount</label>
				<input asp-for="Product.Amount" type="number" class="form-control" placeholder="Enter amount">
			</div>
			<div class="form-group">
				<label for="Image">Image</label>
				<input asp-for="File" type="file" class="form-control">
			</div>
			<div class="form-group">
				<label for="category">Category</label>
				<select class="form-select" asp-for="Product.CategoryId" asp-items="@Model.Categories">
				</select>
			</div>
			<div class="d-flex justify-content-center">
				<input type="submit" value="Create" class="btn btn-success flex-grow-1 m-3" />
				<a asp-action="Index" class="btn btn-dark flex-grow-1 m-3">Back</a>
			</div>
		</form>
	</div>
</div>