@model IEnumerable<Category>

<div>
    <div class="d-flex align-items-center">
        <h1>Categories</h1>
        <div class="flex-grow-1 text-end">
            <a asp-action="Create" class="btn btn-dark">Create category</a>
        </div>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var category in Model)
            {
                <tr>
                    <th scope="row">@category.Id</th>
                    <td>@category.Name</td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-info">Edit</a>
                        <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
